.thumbnail-wrapper {
  width: 30%;
  padding: 16px;
  padding-right: 32px;
}

.video-title {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 12px;
}

.thumbnail-image {
  height: 150px;
}

.result-card {
  padding: 22px;
}

.video-description-wrapper {
  width: 40%;
}
