/E-LearningRecSysAPI/bin/*
/E-LearningRecSysAPI/obj/*
/OrdersAPI/bin/*
/OrdersAPI/obj/*
/OrdersAPI.Application/bin/*
/OrdersAPI.Application/obj/*
/OrdersAPI.Infrastructure/bin/*
/OrdersAPI.Infrastructure/obj/*