.shown-price {
    font-size: 22px;
    line-break: unset;
    width: 180px;
    text-align: right;
    white-space: nowrap;
    overflow: visible;
    margin-bottom: 0px !important;
  }

  .total {
    font-weight: 600;
    font-size: 28px;
  }

  .to-checkout-action-button{
    font-weight: 500;
    font-size: 22px;
  }