[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask="*"
flask_restful="*"
pyodbc="*"
pandas="*"
spacy="*"
tqdm="*"
rank_bm25="*"
xlsxwriter="*"
openpyxl="*"
[dev-packages]

[requires]
python_version = "3.9"
