<div class="home-page">
  <div
    ngClass="search-box-wrapper"
    ngClass.lt-lg="search-box-wrapper-lt-lg"
    ngClass.lt-md="search-box-wrapper-lt-md"
    ngClass.lt-sm="search-box-wrapper-lt-sm"
  >
    <app-search-bar></app-search-bar>
  </div>
  <div
    id="carouselExampleIndicators"
    class="carousel slide full-width carousel-wrapper carousel-dark"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner h-100">
      <div class="carousel-item active">
        <img
          src="../../../../assets/images/slideshow-pic1.jpg"
          class="d-block w-100 h-100"
          alt="learning_slideShow"
        />
      </div>
      <div class="carousel-item h-100">
        <img
          src="../../../../assets/images/slideshow-pic2.jpg"
          class="d-block w-100 h-100"
          alt="learning_slideShow"
        />
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="introductory-slice full-width">
    <div class="background-faded-image"></div>
    <div
      class="introductory-video-wrapper full-width"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <!-- <iframe
        class="introductory-video"
        width="1280"
        height="720"
        src="https://www.youtube.com/embed/ZPs3URGs0KQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe> -->
    </div>
    <div
      class="introductory-audio-wrapper full-width"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <h2>Listen here about the benefits of elearning</h2>
      <audio controls>
        <source
          src="../../../../assets/audio/elearningaudio.mp3"
          type="audio/mp3"
        />
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</div>
