@import '../../../../sass/variables';

.navbar {
  height: 100%;
  .brand-icon {
    height: 100%;
    margin-left: 26px;
  }
  .navigation-buttons-wrapper {
    height: $navbar-height;
    .navigation-button {
      line-height: 38px;
      font-size: 16px;
    }
  }
  .log-in-text {
    margin: 8px !important;
  }
  .cart-size-container{
    position: absolute;
    z-index: 1;
    background-color: gray;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 12px;
    top: -6px;
    left: -6px;
  }
}
